<nav class="header">  
   
</nav>
 
<div class = "container">
 
  <div class = "headerForm">
    <h1>Kd minha sala?</h1>
    <br>
    <p>Para ajudar alguém a encontrar suas salas hoje,
        digite o CPF no campo abaixo e clique no botão 
        para buscar.</p>
    
    <div class="space"></div>
   
        
    <form class ="studentForm" [formGroup]="studentForm" (ngSubmit)="sendData()">
         
        <div>
         <input class="form-group" type="text" placeholder="Digite o CPF" formControlName="cpf">
            <div *ngIf="!cpf.pristine && cpf.errors">
              <p *ngIf="cpf.errors.required">
                CPF é obrigatório.
              </p>
              <br>
              <p *ngIf="cpf.errors.invalidCpf">
                Por favor, digite um CPF válido
              </p>
            </div>
          </div>
          <br>
             
            <div class="form-group">
                <button class="buttonSubmit" [disabled]="!studentForm.valid">Buscar</button>
            </div>
 
            <div>{{ studentForm.value | json}}</div>
            <div>{{ studentForm.valid | json }}</div>
    </form>
    </div>
