<form [formGroup]="userForm" (ngSubmit)="sendData()">

  <div>
    <label for="cpf">CPF:</label>
    <input type="text" formControlName="cpf">
    <div *ngIf="!cpf.pristine && cpf.errors">
      <p *ngIf="cpf.errors.required">
        CPF é obrigatório.
      </p>
      <p *ngIf="cpf.errors.invalidCpf">
        Digite um CPF válido
      </p>
    </div>
  </div>

  <br>
  <div>
    <button [disabled]="!userForm.valid">Enviar dados</button>
  </div>

  <br>
  <br>

  <div>{{ userForm.value | json}}</div>
  <div>{{ userForm.valid | json }}</div>
</form>